RewriteEngine On

DirectoryIndex index.php
Options -Indexes

# RewriteCond %{HTTP_REFERER} !^http://(.+\.)?twojadomena\.pl/ [NC]
# RewriteCond %{HTTP_REFERER} !^$
# RewriteRule .*\.(jpe?g|gif|bmp|png)$ - [F]

<IfModule mod_headers.c>
    Header always set X-Content-Type-Options nosniff
    Header unset Expires
    Header unset Host
    Header unset P3P
    Header unset Pragma
    Header unset Public-Key-Pins
    Header unset Public-Key-Pins-Report-Only
    Header unset Via
    Header unset X-AspNet-Version
    Header unset X-AspNetMvc-version
    Header unset X-Frame-Options
    Header unset X-Powered-By
    Header unset X-Runtime
    Header unset X-Version
</IfModule>

<filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|swf|woff2)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
</filesMatch>

<filesMatch ".(css|js)$">
 Header set Cache-Control "max-age=86400, public"
</filesMatch>

<IfModule mod_mime.c>
    AddType application/manifest+json   webmanifest
</IfModule>