RewriteEngine On

DirectoryIndex index.php
Options -Indexes

# RewriteCond %{HTTP_REFERER} !^http://(.+\.)?twojadomena\.pl/ [NC]
# RewriteCond %{HTTP_REFERER} !^$
# RewriteRule .*\.(jpe?g|gif|bmp|png)$ - [F]


RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

<IfModule mod_headers.c>
 Header set X-UA-Compatible "IE=edge"
    Header always set X-Content-Type-Options nosniff
    Header unset Expires
    Header unset Host
    Header unset P3P
    Header unset Pragma
    Header unset Public-Key-Pins
    Header unset Public-Key-Pins-Report-Only
    Header unset Via
    Header unset X-AspNet-Version
    Header unset X-AspNetMvc-version
    Header unset X-Frame-Options
    Header unset X-Powered-By
    Header unset X-Runtime
    Header unset X-Version

 <FilesMatch "\.(appcache|atom|bbaw|bmp|crx|css|cur|eot|f4[abpv]|flv|geojson|gif|htc|ic[os]|jpe?g|m?js|json(ld)?|m4[av]|manifest|map|markdown|md|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|topojson|tt[cf]|txt|vcard|vcf|vtt|webapp|web[mp]|webmanifest|woff2?|xloc|xml|xpi)$">
        Header unset X-UA-Compatible
    </FilesMatch>

<filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|swf|woff2|svg|webp|css|js|woff|eot)$">
    Header set Cache-Control "max-age=604800, public, no-cache"
</filesMatch>




</IfModule>

<IfModule mod_mime.c>
    AddType application/manifest+json   webmanifest
</IfModule>