@import "fonts.css";

:root {
    --borderRadius: .2rem;
    --colorBody: #52b6d5;
    --colorHover: #0d324d;
    --widthContent: 98%;
    --border: 1px solid #223957;
    --borderHover: 1px solid #413a1b;
    --borderRadiusBtn: .3em .3em 0 0;
    --borderBtn: 1px solid #51b9d8;
    --bacgroundPopup: #FFF43C;
    --bacgroundContent: #f5f5f5;
    --bacgroundGradientColor: #7f5a83;
    --bacgroundGradient: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

}

button:active,
button:hover,
button:focus,
input:active,
input:hover,
input:focus,
textarea:active,
textarea:hover,
textarea:focus {
    outline: 0px transparent !important;
    outline-width: 0 !important;
    box-shadow: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    background-color: var(--colorBody);

}

nav {
    position: relative;
    width: var(--widthContent);
    margin: 10px auto;
    flex-basis: 2.5rem;
    border-radius: var(--borderRadius);
    background-color: var(--bacgroundGradientColor);
    background-image: var(--bacgroundGradient);
    box-shadow: -1px 1px 7px 0px rgba(120, 88, 128, 0.75);

}

.a_btn {
    font-weight: 700;
    position: absolute;
    width: 10rem;
    top: .5rem;
    margin: .3rem;
    padding: .3rem;
    color: #fff;
    text-align: center;
    background-color: var(--colorBody);
    border-radius: var(--borderRadius);
    transition: all 0.3s ease;
}

.a_btn:nth-of-type(2) {
    left: 11rem;
}

.a_btn:hover {
    color: var(--colorHover);
}

nav .logo_idea {
    position: absolute;
    height: 100%;
    width: 1.6rem;
    right: 3px;
    background-image: url(../img/idea.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    align-self: flex-end;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--widthContent);
}

footer {
    width: 100%;
    flex-basis: 1rem;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    color: #ffffff;
    background-color: #1e2528;
}

.marski {
    font-size: .5rem;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.marski span {
    margin-right: .2em;
}


h1 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: .1em;
    padding: .3em;
}