 /* =========== SECTION IDEA LIST =========== */
 .table {
     width: 100%;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: .58rem;
     padding: .3rem;
     margin-bottom: 2rem;
     background-color: var(--bacgroundContent);
     box-shadow: var(--boxSadow);
     border-radius: var(--borderRadius);
 }

 .tbody ol {
     list-style: none;
     text-align: center;
     width: 100%;
 }

 .tbody {
     --color: rgb(255, 209, 102);
     margin-bottom: .5rem;
     border-radius: var(--borderRadius);
     border: 2px solid var(--color);
 }

 .tr {
     display: flex;
     justify-content: space-between;
 }

 .tr .author {
     flex-basis: 11%;
 }

 .tr .idea {
     flex-basis: 89%;
 }

 .th {
     text-align: center;
     padding: .2rem;
     color: var(--colorHover);

 }

 .idea_authors {
     width: 11%;
 }

 h4 {
     text-transform: uppercase;
     text-align: center;
     padding: 1rem;
     font-weight: 500;
     letter-spacing: 0.101em;
 }