 /* =========== SECTION IDEA LIST =========== */
 table ol {
     list-style: none;
     text-align: center;
 }

 table {
     font-family: 'Source Sans Pro', sans-serif;
     font-size: .58rem;
     border-collapse: collapse;
     margin-bottom: 2rem;
 }

 tbody {
     --color: rgb(255, 209, 102);
     background-color: var(--bacgroundContent);
 }

 tbody tr,
 th,
 td {
     padding: .1rem;
 }

 tbody th {
     color: #8b8b8b;
     font-weight: 500;
     letter-spacing: 0.083em;
 }

 tbody td {
     letter-spacing: 0.019em;
     line-height: 1.4;
 }

 .idea_authors {
     width: 11%;
 }

 .date_add {
     text-align: right;
 }

 .title {
     text-align: left;
 }

 tbody::after {
     content: "@";
     display: block;
     line-height: .5rem;
     text-indent: -99999px;
     background-color: var(--colorBody);
 }

 tr {
     border-left: 2px solid var(--color);
     border-right: 2px solid var(--color);
 }

 tr:nth-of-type(6) {
     border-bottom: 5px solid var(--color);
 }

 tr:nth-of-type(1) {
     border-top: 2px solid var(--color);
 }