@import "fonts.css";

:root {
    --borderRadius: .2rem;
    --colorBody: #52b6d5;
    --colorHover: #214A57;
    --widthContent: 98%;
    --border: 1px solid #223957;
    --borderHover: 1px solid #413a1b;
    --borderRadiusBtn: .3em .3em 0 0;
    --borderBtn: 1px solid #51b9d8;
    --bacgroundPopup: #FFF43C;
    --bacgroundContent: #f5f5f5;
    --bacgroundGradientColor: #7f5a83;
    --buttonPadiing: .3rem 1rem;
    --bacgroundGradient: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    --boxSadow: -1px 1px 7px 0px rgba(120, 88, 128, 0.75);


}

button:active,
button:hover,
button:focus,
input:active,
input:hover,
input:focus,
textarea:active,
textarea:hover,
textarea:focus {
    outline: 0px transparent !important;
    outline-width: 0 !important;
    box-shadow: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    background-color: var(--colorBody);

}

nav {
    font-size: .7rem;
    width: var(--widthContent);
    border-radius: var(--borderRadius);
    margin: 10px auto;
    background-color: var(--bacgroundGradientColor);
    background-image: var(--bacgroundGradient);
    box-shadow: var(--boxSadow);
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: linear;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--widthContent);
}

footer {
    width: 100%;
    flex-basis: 1rem;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    color: #ffffff;
    background-color: #1e2528;
}

h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    color: var(--colorHover);
    padding: .3em;
}

.align_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* =========== NAV =========== */
.menu {
    display: flex;
    position: relative;
}

.sticky {
    position: fixed;
    width: 100%;
    font-size: .5rem !important;
    margin: 0;
    top: 0;
    z-index: 2;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

/* =========== NAV-> a hreaf =========== */
.a_btn {
    margin: .3rem;
    padding: var(--buttonPadiing);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--colorBody);
    border-radius: var(--borderRadius);
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.a_btn:hover {
    color: var(--colorHover);
}

.arrow_up {
    display: none;
    background-image: url(../img/arrow_up.png);

}

.login {
    font-size: .5rem;
    align-self: center;
}

.home_page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .3rem;
    background-image: url(../img/home_page.png);
}

.border_icon {
    position: absolute;
    transform: rotate(0deg);
    transform-origin: center;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1000deg);
    }

}

.load {
    animation-play-state: paused;
}

.home_img {
    flex-basis: 1.6rem;
    filter: invert(100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.home_img:hover {
    filter: invert(0%);

}

/* =========== NAV -> logo =========== */
nav .logo_idea {
    position: absolute;
    top: 0;
    right: 3px;
    height: 100%;
    width: 1.6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: .2rem 0;
}

/* =========== FOTTER -> element =========== */
.marski {
    font-size: .5rem;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.marski span {
    margin-right: .2em;
}

/* =========== EXCEPTION =========== */
.exception {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--borderRadius);
    padding: 1rem;
    background-color: #52b6d5;
    border-radius: 50px;
    background: linear-gradient(145deg, #4aa4c0, #58c3e4);
    box-shadow: 20px 20px 60px #469bb5,
        -20px -20px 60px #5ed1f5;
}

.exception p:nth-of-type(1) {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.exception p:nth-of-type(2) {
    font-size: .5rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: .2rem;
}

.exception_img {
    flex-basis: 50vh;
    width: 50vh;
    background-image: url('../img/exception.png');
    background-size: cover;
    background-repeat: no-repeat;
}