:root {
    --idea-border: 1px solid #ffd723;
}

/* =========== SECTION IDEA LIST =========== */
ol {
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.ol_idea {
    padding: .3em;
    border-radius: .3em;
    width: 100%;
    min-height: 2rem;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 7px 1px rgba(120, 88, 128, 0.75);
}

.ol_idea li:last-child {
    margin-bottom: 4em;
}

.li_idea {
    --color: rgb(255, 209, 102);
    font-weight: 400;
    position: relative;
    font-size: .57rem;
    margin-bottom: .2em;
    border-radius: .3em;
    border-left: .1em solid var(--color);
    border-bottom: .3em solid var(--color);
    border-top: .1em solid var(--color);
    border-right: .1em solid var(--color);
    background-color: var(--back);
}

.idea_date_in {
    position: absolute;
    right: .2em;
    font-weight: 700;
}

.idea_blackboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.idea_authors {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: .3em 0 0 .3em;
    text-align: center;
    list-style: none;
}

.idea_value {
    -webkit-box-flex: 8;
    -ms-flex: 8;
    flex: 8;
    text-align: justify;
    padding: .3em;
}

.idea_val {
    line-height: 1.4em;
    text-indent: .5em;
}

.font_pattern {
    font-weight: 500;
    font-size: .9em;
    letter-spacing: 0.083em;
    color: #8b8b8b;
}

.idea_wrap {
    --back: rgba(255, 209, 102, 0.2);
    display: flex;
    justify-content: space-evenly;
    padding: .3em 0 .3em 0;
    background-color: var(--back);
}

/* .idea_pkt {}

.idea_stat {}

.idea_num {}

.idea_inmp {}

.idea_title {} */

.load_more {
    position: absolute;
    bottom: -.53em;
    right: .3em;
    border-radius: .3em .3em 0 0;
    z-index: 2;
}

.load_more:hover {
    color: var(--color_hoverBt);
    background-color: var(--color-blueBack);
}

.menu_link {
    position: absolute;
    bottom: -.2em;
    right: .5em;
    z-index: 2;
}

.menu_link a {
    letter-spacing: .2em;
    text-decoration: none;
    font-size: .65em;
    font-weight: 700;
    color: #ffffff;
    background-color: #51b9d8;
    border-radius: .3em .3em 0 0;
    padding: .4em;
}

.menu_link>a:hover {
    color: var(--color_hoverBt);
    background-color: var(--color-blueBack);
}