/* =========== SECTION CREATE CONCEPT =========== */
form {
    position: relative;
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2rem 1rem;
    border-radius: .3em;
    background-color: var(--bacgroundContent);
    box-shadow: 0px 0px 7px 1px rgba(120, 88, 128, 0.75);
}

.title h3 {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: .6rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 1rem;
    letter-spacing: .9px;
    color: var(--bacgroundContent);
    padding: .1em;
    border-radius: 0.12em 0.12em 0px 0px;
    background-color: var(--bacgroundGradientColor);
    background-image: var(--bacgroundGradient)
}

textarea {
    resize: none;
    width: 100%;
    font-size: .7rem;
    letter-spacing: 1px;
    border: var(--border);
    padding: .3em;
    border-radius: 0 0 .12em .12em;
    background-color: #f3f3f3;
}

textarea:focus {
    background-color: #ffffff;
}

.sign {
    font-size: .5rem;
    text-align: end;
    padding: .2em;
    margin-bottom: 1em;
    min-height: 2em;
}

/* =========== SECTION CREATE CONCEPT => Rating =========== */
.rating {
    font-size: .8rem;
    list-style: none;
    padding: .3em;
    border: var(--border);
}

.rating li {
    display: flex;
    align-items: baseline;
    padding: .3em;
}

.weight {
    font-weight: 700;
}

.rating li label {
    margin-right: .2em;
}

.select select {
    flex: 1;
    appearance: none;
    color: #222222;
    padding: 0 .5em;
    cursor: pointer;
    border: var(--border);
}

/* Remove IE arrow */
.select select::-ms-expand {
    display: none;
}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 5em;
    height: 1.5em;
    line-height: 1.5;
    overflow: hidden;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 3px;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

/* Transition */
.select:hover::after {
    color: #f39c12;
}

.pktnum {
    font-weight: 700;
    font-size: 2rem;
}

.sum_pkt {
    justify-content: flex-end;
}

.popup {
    position: fixed;
    display: none;
    z-index: 2;
    top: 50%;
    left: 50%;
    padding: .3em;
    border: var(--border);
    border-radius: .3em;
    background-color: var(--bacgroundPopup);
    transform: translate(-50%, -50%);
}

.repeat p {
    text-align: center;
    text-transform: uppercase;
    padding: .5em;
}

.area_list {
    flex-direction: column;
}

.area {
    font-size: .9rem;
    margin: .5em;
    text-align: center;
    letter-spacing: 0.1em;
    appearance: none;
    padding: .2em;
    border: var(--border);
    border-radius: .2em .2em 0 0;
    background-color: var(--bacgroundContent);
    background-image: url(img/sort-down.png);
    background-repeat: no-repeat, repeat;
    background-position: right .5em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.btn_area {
    border-radius: .3em;
    background-color: var(--colorBody);
    color: #fff;
    width: 50%;
    margin: 0 auto;
}

.btn_area:hover {
    color: var(--colorHover);
    border: 1px solid var(--colorHover);
}

/* =========== SECTION CREATE CONCEPT => Live Search =========== */
.user_list {
    display: flex;
    border: var(--border);
    min-height: 5rem;
}

.user_add_list {
    flex-grow: 1;
    margin: 10px;
}

.user_add_list ol li {
    margin: 0 0 0 1em;
}

input[type="search"] {
    width: 90%;
    background-color: #ffffff;
    border: var(--border);
    font-size: .8rem;
    outline: none;
    padding: .2em;
    border-radius: .2em .2em 0 0;
}

.live_search {
    flex-grow: 1;
    margin: 0 10px;
    line-height: 21px;
}

[data-load] {
    width: 10%;
    font-size: .8rem;
    padding: .4em;
    color: transparent;
}

.live_search [data-search="error"] {
    display: block;
    width: 90%;
    font-size: .7rem;
    text-align: center;
    padding: .2em;
    color: #ff0000;
    height: 1em;
}

.live_search div {
    display: flex;
    width: 90%;
    flex-direction: row;
    border-radius: 0 0 .2em .2em;
}

.list_label {
    font-size: .6rem;
    opacity: .5;
}

#sugestion_name {
    display: none;
    width: 100%;
    list-style: none;
    font-size: .9rem;
    text-indent: .3em;
    margin: 0;
    counter-reset: my-awesome-counter;
    border: var(--border);
    border-top: 0px;
    border-radius: 0 0 .2em .2em;
}

#sugestion_name li {
    padding: .4em;
    letter-spacing: .1em;
    cursor: pointer;
}

#sugestion_name li:hover {
    background-color: #b7f589;
}

.center {
    text-align: center;
    text-indent: 0px;
}

.repeat_ok {
    border-radius: .3em;
    margin: 1px;
}

.repeat_ok:hover {
    color: #413a1b;
    border: 1px solid #413a1b;
    background-color: var(--colorBody);
}

/* =========== SECTION CREATE CONCEPT => Add idea =========== */
button {
    color: #fff;
    border: var(--borderBtn);
    background-color: var(--colorBody);
    letter-spacing: .2em;
    padding: .4em;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.add_idea {
    position: absolute;
    color: #fff;
    z-index: 2;
    right: .6em;
    bottom: -.53em;
    border-radius: var(--borderRadiusBtn);
    background-color: var(--colorBody);
}

.add_idea:hover {
    color: var(--colorHover);
    background-color: var(--colorBody);
}

.messages {
    height: 2em;
    width: 60%;
    margin: .2em auto;
}

.messages>p {
    text-align: center;
    color: #9a4700;
}