@import "fonts.css";

:root {
    --borderRadius: .2rem;
    --colorBody: #52b6d5;
    --colorHover: #214A57;
    --colorFont: #222222;
    --widthContent: 97vw;
    --border: 1px solid #0d324d;
    --borderHover: 1px solid #413a1b;
    --borderRadiusBtn: .3em .3em 0 0;
    --borderBtn: 1px solid #51b9d8;
    --bacgroundPopup: #FFF43C;
    --bacgroundContent: #f5f5f5;
    --bacgroundGradientColor: #7f5a83;
    --buttonPadiing: .3rem 1rem;
    --bacgroundGradient: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    --boxSadow: -1px 1px 7px 0px rgba(120, 88, 128, 0.75);
    --boxSadowInset: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);


}

button:active,
button:hover,
button:focus,
input:active,
input:hover,
input:focus,
textarea:active,
textarea:hover,
textarea:focus {
    outline: 0px transparent !important;
    outline-width: 0 !important;
    box-shadow: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--colorFont);
    background-color: var(--colorBody);

}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--widthContent);
}

footer {
    width: 100%;
    flex-basis: 1rem;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    color: #ffffff;
    background-color: #1e2528;
}

h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    color: var(--colorHover);
    padding: .3em;
}

.align_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* =========== NAV =========== */
nav {
    font-size: .7rem;
    width: var(--widthContent);
    padding: .1rem .2rem;
    margin: 10px auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2rem 10rem 10rem 2rem auto 2rem;
    grid-template-areas: "load list write page_up empty logo ";
    border-radius: var(--borderRadius);
    background-color: var(--bacgroundGradientColor);
    background-image: var(--bacgroundGradient);
    box-shadow: var(--boxSadow);
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: linear;
}

nav a:nth-of-type(1) {
    grid-area: load;
}

nav a:nth-of-type(2) {
    grid-area: list;
}

nav a:nth-of-type(3) {
    grid-area: write;
}

nav a:nth-of-type(4) {
    grid-area: page_up;
}

nav a:nth-of-type(5) {
    grid-area: logo;
}

.menu.sticky {
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    z-index: 2;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

/* =========== NAV-> a hreaf =========== */
.a_btn {
    padding: var(--buttonPadiing);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--colorBody);
    border-radius: var(--borderRadius);
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.a_btn:hover {
    color: var(--colorHover);
}

/* =========== NAV-> home =========== */
.home_nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home_nav img:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
}

.home_nav img:last-child {
    width: 75%;
    transform: rotate(0deg);
    transform-origin: center;
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(500deg);
    }
}

.hover_img img {
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear;
    filter: invert(100%);
}

.hover_img:hover img {
    filter: invert(90%);
}

.load {
    animation-play-state: paused;
}

/* =========== NAV-> page up =========== */
.page_up {
    display: none;
    position: relative;
    width: 100%;
}

.page_up img {
    filter: invert(100%);
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* =========== NAV -> logo =========== */
.logo_idea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo_idea img {
    width: 90%;
}

/* =========== FOTTER -> element =========== */
.marski {
    font-size: .5rem;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.marski span {
    margin-right: .2em;
}

/* =========== EXCEPTION =========== */
.exception {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--borderRadius);
    padding: 1rem;
    background-color: #52b6d5;
    border-radius: 50px;
    background: linear-gradient(145deg, #4aa4c0, #58c3e4);
    box-shadow: 20px 20px 60px #469bb5,
        -20px -20px 60px #5ed1f5;
}

.exception p:nth-of-type(1) {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.exception p:nth-of-type(2) {
    font-size: .5rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: .2rem;
}

.exception_img {
    flex-basis: 50vh;
    width: 50vh;
    background-image: url('../img/exception.png');
    background-size: cover;
    background-repeat: no-repeat;
}