/* =========== WRITE AN IDEA SECTION =========== */
form {
    position: relative;
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2rem 1rem;
    border-radius: .3em;
    background-color: var(--bacgroundContent);
    box-shadow: var(--boxSadow);
}

legend {
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: .6rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1rem;
    letter-spacing: .9px;
    color: var(--bacgroundContent);
    border-radius: 0.12em 0.12em 0px 0px;
    background-color: var(--bacgroundGradientColor);
    background-image: var(--bacgroundGradient)
}

textarea {
    resize: none;
    width: 100%;
    font-size: .7rem;
    letter-spacing: 1px;
    border: var(--border);
    padding: .5em;
    border-radius: 0 0 .12em .12em;
    background-color: var(--bacgroundContent);
}

textarea:focus {
    background-color: #ffffff;
    box-shadow: var(--boxSadowInset);
}

/* =========== WRITE AN IDEA SECTION => display the list of characters =========== */
.sign_number {
    width: 100%;
    display: block;
    font-size: .5rem;
    text-align: end;
    padding: .2em;
    min-height: 2em;
}

/* =========== WRITE AN IDEA SECTION => Calculate PointsIdea =========== */
.rating {
    width: 100%;
    font-size: .8rem;
    table-layout: auto;
    border: var(--border);
    display: flex;
    flex-direction: column;
}

.options_rating {
    display: flex;
    color: var(--colorFont);
    padding: .2rem;
    transition: all .3s;

}

.options_rating span {
    flex-basis: 80%;
    transition: all .3s;
}

.title_rating {
    color: var(--colorFont);
    font-weight: 600;
    padding: .2rem;

}

.rating:hover .options_rating {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

.options_rating:hover span {
    color: var(--colorFont);
    text-shadow: 0 1px 0 #fff;
}

.options_rating:hover .option_pkt {
    color: var(--colorFont);
    text-shadow: 0 1px 0 #fff;
}

.number_rating {
    text-align: right;
    padding: .2rem 1rem;
}

.option_pkt select {
    flex: 1;
    appearance: none;
    color: #222222;
    padding: 0 .5em;
    cursor: pointer;
    border: var(--border);
}

/* Remove IE arrow */
.option_pkt select::-ms-expand {
    display: none;
}

/* Custom Select */
.option_pkt {
    align-self: center;
    position: relative;
    display: flex;
    width: 5em;
    height: 1.5em;
    line-height: 1.5;
    overflow: hidden;
}

/* Arrow */
.option_pkt::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 3px;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

/* Transition */
.option_pkt:hover::after {
    color: #f39c12;
}

.pktnum {
    font-weight: 700;
    font-size: 2rem;
}

.sum_pkt {
    justify-content: flex-end;
}

.popup {
    position: fixed;
    display: none;
    z-index: 2;
    top: 50%;
    left: 50%;
    padding: .3em;
    border: var(--border);
    border-radius: .3em;
    background-color: var(--bacgroundPopup);
    transform: translate(-50%, -50%);
}

.repeat p {
    text-align: center;
    text-transform: uppercase;
    padding: .5em;
}

/* =========== WRITE AN IDEA SECTION => creator =========== */
.creator {
    display: flex;
    flex-direction: row;
    border: var(--border);
    min-height: 8rem;
}

.creator label {
    display: block;
    font-size: .6rem;
    opacity: .5;
    width: 100%;
    text-align: center;
}

/* =========== WRITE AN IDEA SECTION => creator Search =========== */
.creator_search {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .3rem;
}

.creator_search ol {
    width: 90%;
    max-height: 4.5rem;
    overflow: hidden;
}

.input_search {
    width: 90%;
    padding: .3rem;
    border: var(--border);
    font-size: .8rem;
    outline: none;
    border-radius: .2rem .2rem 0 0;
    background-color: var(--bacgroundContent);

}

.input_search:focus {
    background-color: #ffffff;
    box-shadow: var(--boxSadowInset);
}

.view_creator {
    display: none;
    width: 100%;
    list-style: none;
    font-size: .9rem;
    text-indent: .3em;
    background-color: #ffffff;
    border: var(--border);
    border-top: 0px;
    border-radius: 0 0 .2rem .2rem;
    box-shadow: var(--boxSadowInset);
}

.view_li {
    padding: 0 .3rem;
    line-height: 1.5rem;
    letter-spacing: .1rem;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.creator_li {
    cursor: pointer;
}

.creator_li:last-child {
    border-radius: 0 0 .2rem .2rem;
}

.creator_li:hover {
    background-color: #b7f589;
    letter-spacing: .11rem;
}

.errorSearch {
    border: 1px solid red;
    color: #ff0000;

}

/* =========== WRITE AN IDEA SECTION => Chosen ones =========== */
.chosen_ones {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .3rem;
}


.center {
    text-align: center;
    text-indent: 0px;
}

.repeat_ok {
    border-radius: .3em;
    margin: 1px;
}

.repeat_ok:hover {
    color: #413a1b;
    border: 1px solid #413a1b;
    background-color: var(--colorBody);
}

/* =========== WRITE AN IDEA SECTION => Add idea =========== */

.add_idea {
    position: absolute;
    z-index: 2;
    right: .6em;
    bottom: -.53em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: var(--buttonPadiing);
    cursor: pointer;
    border: var(--borderBtn);
    border-radius: var(--borderRadiusBtn);
    background-color: var(--colorBody);
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.add_idea:hover {
    color: var(--colorHover);
}

.messages {
    height: 2em;
    width: 60%;
    margin: .2em auto;
}

.messages>p {
    text-align: center;
    color: #9a4700;
}

.area_list {
    flex-direction: column;
}

.area {
    font-size: .9rem;
    margin: .5em;
    text-align: center;
    letter-spacing: 0.1em;
    appearance: none;
    padding: .2em;
    border: var(--border);
    border-radius: .2em .2em 0 0;
    background-color: var(--bacgroundContent);
    background-image: url(img/sort-down.png);
    background-repeat: no-repeat, repeat;
    background-position: right .5em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

/* =========== WRITE AN IDEA SECTION => Add button =========== */
.btn_area {
    border-radius: .3em;
    background-color: var(--colorBody);
    color: #fff;
    width: 50%;
    margin: 0 auto;
}

.btn_area:hover {
    color: var(--colorHover);
    border: 1px solid var(--colorHover);
}