/* =========== WRITE AN IDEA SECTION =========== */
.board:nth-of-type(1) {
    margin: 0;
}

.board:nth-of-type(2) {
    margin: 0;
}

.board {
    margin-bottom: 1em;
}

form {
    position: relative;
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2rem 1rem;
    border-radius: .3em;
    background-color: var(--bacgroundContent);
    box-shadow: 0px 0px 7px 1px rgba(120, 88, 128, 0.75);
}

.m_bottom {
    margin-bottom: -.3em;
}

.label_h3 {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: .6rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1rem;
    letter-spacing: .9px;
    color: var(--bacgroundContent);
    border-radius: 0.12em 0.12em 0px 0px;
    background-color: var(--bacgroundGradientColor);
    background-image: var(--bacgroundGradient)
}

textarea {
    resize: none;
    width: 100%;
    font-size: .7rem;
    letter-spacing: 1px;
    border: var(--border);
    padding: .3em;
    border-radius: 0 0 .12em .12em;
    background-color: #f3f3f3;
}

textarea:focus {
    background-color: #ffffff;
}

/* =========== WRITE AN IDEA SECTION => display the list of characters =========== */
.sign_number {
    font-size: .5rem;
    text-align: end;
    padding: .2em;
    min-height: 2em;
}

/* =========== WRITE AN IDEA SECTION => Calculate PointsIdea =========== */

.rating {
    width: 100%;
    font-size: .8rem;
    table-layout: auto;
    border: var(--border);
    display: flex;
    flex-direction: column;
}

.options_rating {
    display: flex;
    color: var(--colorFont);
    padding: .2rem;
    transition: all .3s;

}

.options_rating span {
    flex-basis: 80%;
    transition: all .3s;
}

.title_rating {
    color: var(--colorFont);
    font-weight: 600;
    padding: .2rem;

}

.rating:hover .options_rating {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

.options_rating:hover span {
    color: var(--colorFont);
    text-shadow: 0 1px 0 #fff;
}

.options_rating:hover .option_pkt {
    color: var(--colorFont);
    text-shadow: 0 1px 0 #fff;
}

.number_rating {
    text-align: right;
    padding: .2rem 1rem;
}

.option_pkt select {
    flex: 1;
    appearance: none;
    color: #222222;
    padding: 0 .5em;
    cursor: pointer;
    border: var(--border);
}

/* Remove IE arrow */
.option_pkt select::-ms-expand {
    display: none;
}

/* Custom Select */
.option_pkt {
    align-self: center;
    position: relative;
    display: flex;
    width: 5em;
    height: 1.5em;
    line-height: 1.5;
    overflow: hidden;
}

/* Arrow */
.option_pkt::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 3px;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

/* Transition */
.option_pkt:hover::after {
    color: #f39c12;
}

.pktnum {
    font-weight: 700;
    font-size: 2rem;
}

.sum_pkt {
    justify-content: flex-end;
}

.popup {
    position: fixed;
    display: none;
    z-index: 2;
    top: 50%;
    left: 50%;
    padding: .3em;
    border: var(--border);
    border-radius: .3em;
    background-color: var(--bacgroundPopup);
    transform: translate(-50%, -50%);
}

.repeat p {
    text-align: center;
    text-transform: uppercase;
    padding: .5em;
}

/* =========== WRITE AN IDEA SECTION => Live Search =========== */

.user_list {
    display: flex;
    border: var(--border);
    min-height: 5rem;
}

.user_add_list {
    flex-grow: 1;
    margin: 10px;
}

.user_add_list ol li {
    margin: 0 0 0 1em;
}

input[type="search"] {
    width: 90%;
    background-color: #ffffff;
    border: var(--border);
    font-size: .8rem;
    outline: none;
    padding: .2em;
    border-radius: .2em .2em 0 0;
}

.live_search {
    flex-grow: 1;
    margin: 0 10px;
    line-height: 21px;
}

[data-load] {
    width: 10%;
    font-size: .8rem;
    padding: .4em;
    color: transparent;
}

.live_search [data-search="error"] {
    display: block;
    width: 90%;
    font-size: .7rem;
    text-align: center;
    padding: .2em;
    color: #ff0000;
    height: 1em;
}

.live_search div {
    display: flex;
    width: 90%;
    flex-direction: row;
    border-radius: 0 0 .2em .2em;
}

.list_label {
    font-size: .6rem;
    opacity: .5;
}

#sugestion_name {
    display: none;
    width: 100%;
    list-style: none;
    font-size: .9rem;
    text-indent: .3em;
    margin: 0;
    counter-reset: my-awesome-counter;
    border: var(--border);
    border-top: 0px;
    border-radius: 0 0 .2em .2em;
}

#sugestion_name li {
    padding: .4em;
    letter-spacing: .1em;
    cursor: pointer;
}

#sugestion_name li:hover {
    background-color: #b7f589;
}

.center {
    text-align: center;
    text-indent: 0px;
}

.repeat_ok {
    border-radius: .3em;
    margin: 1px;
}

.repeat_ok:hover {
    color: #413a1b;
    border: 1px solid #413a1b;
    background-color: var(--colorBody);
}

/* =========== WRITE AN IDEA SECTION => Add idea =========== */

.add_idea {
    position: absolute;
    z-index: 2;
    right: .6em;
    bottom: -.53em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: var(--buttonPadiing);
    cursor: pointer;
    border: var(--borderBtn);
    border-radius: var(--borderRadiusBtn);
    background-color: var(--colorBody);
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.add_idea:hover {
    color: var(--colorHover);
}

.messages {
    height: 2em;
    width: 60%;
    margin: .2em auto;
}

.messages>p {
    text-align: center;
    color: #9a4700;
}

.area_list {
    flex-direction: column;
}

.area {
    font-size: .9rem;
    margin: .5em;
    text-align: center;
    letter-spacing: 0.1em;
    appearance: none;
    padding: .2em;
    border: var(--border);
    border-radius: .2em .2em 0 0;
    background-color: var(--bacgroundContent);
    background-image: url(img/sort-down.png);
    background-repeat: no-repeat, repeat;
    background-position: right .5em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

/* =========== WRITE AN IDEA SECTION => Add button =========== */
.btn_area {
    border-radius: .3em;
    background-color: var(--colorBody);
    color: #fff;
    width: 50%;
    margin: 0 auto;
}

.btn_area:hover {
    color: var(--colorHover);
    border: 1px solid var(--colorHover);
}