h1 {
    letter-spacing: 0.229rem;
    font-size: 1.3rem;
}
form {
    font-family: 'Montserrat', sans-serif;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(145deg, #e5f4f8, #fff);
}
.strength_message {
    font-size: 0.6rem;
    height: 0.7rem;
    margin: 0.1rem;
    width: 100%;
    text-align: center;
    color: #555;
}
.meter {
    position: relative;
    margin: 0.1rem 0;
    width: 100%;
    height: 0.2rem;
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}
.meter + p {
    height: 1rem;
    font-size: 0.7rem;
}
.strength {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    display: inline-block;
    height: inherit;
    border-radius: 0.2rem;
    transition: 0.3s ease-in-out;
}
.strength.strong_100 {
    width: 100%;
    background-color: #00ff00;
}
.strength.strong_75 {
    width: 75%;
    background-color: #aeff00;
}
.strength.strong_50 {
    width: 50%;
    background-color: #ffff00;
}
.strength.strong_25 {
    width: 25%;
    background-color: #ff7700;
}
.strength.strong_0 {
    width: 0;
    background-color: transparent;
}
.wrap-input_my {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem 0.2rem 0 0.2rem;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
}
.label-input_my {
    display: block;
    font-size: 1rem;
    color: #999;
    pointer-events: none;
    width: 100%;
    padding-left: 0.2rem;
    left: 0;
    transition: all 0.4s;
}
.input_my {
    display: block;
    width: 100%;
    background: 0 0;
    font-family: Montserrat-Regular;
    font-size: 1rem;
    color: #555;
    padding: 0.3rem 0.6rem 0 0.6rem;
    border: 1px solid brown;
}
.input_my:focus {
    height: 2rem;
}
.input_my:focus + .focus-input_my {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.input_my:focus + .focus-input_my + .label-input_my {
    top: 1px;
    font-size: 0.5rem;
}
input.input_my {
    height: 2rem;
}

.has-val {
    height: 2rem !important;
}
.has-val + .focus-input_my + .label-input_my {
    top: 1px;
    font-size: 0.5rem;
}
.button_subbmit {
    touch-action: manipulation;
    text-transform: uppercase;
    cursor: pointer;
    width: 50%;
    padding: 0.5rem 0;
    border: 1px solid #29303b;
    border-radius: 0.2rem;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.massage_error {
    opacity: 0;
    font-size: 0.7rem;
}
.span_error {
    opacity: 1;
    animation-name: error;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
