* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background-color: transparent;
    box-sizing: border-box;
}
html {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (1920 - 360));
    scroll-behavior: smooth;
}

button:active,
button:hover,
button:focus,
input:active,
input:hover,
input:focus,
textarea:active,
textarea:hover,
textarea:focus {
    outline: 0px transparent !important;
    outline-width: 0 !important;
    box-shadow: none;
}
h1 {
    letter-spacing: 0.229rem;
    font-size: 1.3rem;
}
.h1 {
    letter-spacing: 0.229rem;
    font-size: 1.3rem;
}
.section_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: #e5f4f8;
}
.wrap_form {
    font-family: 'Montserrat', sans-serif;
    min-width: 450px;
    width: 25vw;
    margin: 0.7rem;
    padding: 1rem 0.5rem;
    background-color: #e5f4f8;
    border: 1px solid #cccccc;
}
.wrap-input_my {
    width: 100%;
    border: 1px solid #cccccc;
    margin-bottom: 0.5rem;
}
.wrap-input_my .label-input_my {
    font-size: 0.7rem;
    color: #999;
    pointer-events: none;
    width: 100%;
    padding-left: 0.3rem;
}
.wrap-input_my .input_my {
    width: 100%;
    background-color: transparent;
    font-family: Montserrat-Regular;
    font-size: 1rem;
    color: #555;
    padding: 0 0.3rem 0.3rem 0.3rem;
}
.wrap-input_my .input_my:focus {
    background-color: #f2fbfd;
}
button {
    padding: 0.7rem 1.7rem;
    border: 1px solid #cccccc;
    cursor: pointer;
    transition: 0.3s all;
}
button:hover {
    background-color: #cccccc;
}
.strength_message {
    font-size: 0.6rem;
    height: 0.7rem;
    margin: 0.1rem;
    width: 100%;
    text-align: center;
    color: #555;
}
.meter {
    position: relative;
    margin: 0.1rem 0;
    width: 100%;
    height: 0.2rem;
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}
.meter + p {
    height: 1rem;
    font-size: 0.7rem;
}
.strength {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    display: inline-block;
    height: inherit;
    border-radius: 0.2rem;
    transition: 0.3s ease-in-out;
}
.strength.strong_100 {
    width: 100%;
    background-color: #00ff00;
}
.strength.strong_75 {
    width: 75%;
    background-color: #aeff00;
}
.strength.strong_50 {
    width: 50%;
    background-color: #ffff00;
}
.strength.strong_25 {
    width: 25%;
    background-color: #ff7700;
}
.strength.strong_0 {
    width: 0;
    background-color: transparent;
}

.massage_error {
    opacity: 0;
    font-size: 0.7rem;
}
.span_error {
    opacity: 1;
    animation-name: error;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
